{% extends 'base.html' %}

<!-- Title  -->
{% block title %}
Register Page
{% endblock title %}

<!-- Content -->
{% block content %}

<body class="text-center">
    <div class="container ">

        <form method="POST" class="form-register" style="color: #fff;">

            {{ form.hidden_tag() }}

            <img class="my-4" height="180" src="../static/img/Logo.png" alt="">

            <h1 class="h3 mb-3 font-weight-normal">Please Create your Account</h1>
            <br>

            {{ form.username.label(class="mt-4") }}
            {{ form.username(class="form-control", placeholder = "Enter The Username") }}

            {{ form.email.label(class="mt-4") }}
            {{ form.email(class="form-control", placeholder = "Enter The Email Address") }}

            {{ form.password1.label(class="mt-4") }}
            {{ form.password1(class="form-control", placeholder = "Enter The Password") }}

            {{ form.password2.label(class="mt-4") }}
            {{ form.password2(class="form-control ", placeholder = "Enter The Password Again") }}

            <div class="checkbox mb-3 mt-4">
                <h6>Already have an account?</h6>
                <a href="{{ url_for('login_page') }}" class="btn btn-sm btn-secondary">Login</a>
            </div>

            {{ form.submit(class="btn btn-lg btn-block btn-primary mt-5") }}


        </form>
    </div>
</body>

{% endblock content %}
